<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--
태그 추가하는 법
1. cd static폴더 위치에서 npm install @yaireo/tagify
2. fragments에 tagify.cssc추가
3. fragments에 <style>에 tagify추가
4. body안에 <script>tagify.min.js추가
-->

<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
  <div class="row mt-5 justify-content-center">

    <div class="col-2">
      <div th:replace="fragments.html :: settings-menu(currentMenu='tags')"></div>
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="col-12">관심있는 스터디 주제</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            참여하고 싶은 스터디 주제를 입력해 주세요. 해당 주제의 스터디가 생기면 알림을 받을 수 있습니다. 태그를 입력하고 콤마(,)
            또는 엔터를 입력하세요.
          </div>
          <!-- # 84번 라인 -->
          <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags,',')}"
                 class="tagify-outside" aria-describedby="tagHelp"/>
        </div>
      </div>
    </div>

  </div>
</div>
<!--  tagify.min.js  -->
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<!--  모든 Post 요청에는 csrf()요청이 필요하다  -->
<script type="application/javascript" th:inline="javascript">

    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            // @@@@@ Ajax를 보낼 때, csrfHeader에 csrfToken을 전달
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<!--  tagify에 액션(동작)이 발생했을 때 서버에 Ajax요청을 보내는 자바 스크립트 function  -->
<script type="application/javascript">
    $(function () {
        function tagRequest(url, tagTitle) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/settings/tags" + url,
                // jquery의 Ajax를 tagTitle이라는 이름으로 Key : Value형식으로 바디에 실어서 서버로 보낸다
                data: JSON.stringify({'tagTitle': tagTitle})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }
        // # tagify을 적용할 tagInput 36번라인 id="tags"
        var tagInput = document.querySelector("#tags");
        //  tagify적용
        var tagify = new Tagify(tagInput, {
            pattern: /^.{0,20}$/,
            dropdown : {
                enabled: 1, // suggest tags after a single character input
            } // map tags
        });
        // 호출이 발생하면 function onAdd(e), function onRemove(e) 호출
        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);

        // add a class to Tagify's input element
        tagify.DOM.input.classList.add('form-control');
        // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>

</body>
</html>